name: CI

on:
  pull_request:
    branches: ["main"]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 22

      - name: Install pnpm
        run: npm i -g pnpm@10.14.0

      - name: Install deps
        run: pnpm install --frozen-lockfile

      - name: Build
        run: pnpm run build
